/* =========================
   VARIABLES GLOBALES
========================= */
:root {
  --primary-color: #ff1e1e;
  --secondary-color: #ffffff;
  --background-color: #000000;
  --text-muted: #9a9a9a;

  /* Police pro / moderne */
  --font-main: "Sora", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/* =========================
   IMPORT FONTS PRO
========================= */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Sora:wght@600;700;800&display=swap");

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BASE
========================= */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  background: var(--background-color);
  color: var(--secondary-color);
  font-family: var(--font-secondary);
  overflow-x: hidden;
}

/* =========================
   TITRES
========================= */
h1,
h2,
h3,
.logo,
.title {
  font-family: var(--font-main);
  font-weight: 800;
  letter-spacing: -1px;
}

/* =========================
   TEXTE PARAGRAPHE / UI
========================= */
p,
span,
a,
button,
input {
  font-family: var(--font-secondary);
}

/* =========================
   CLASSES UTILES
========================= */
.text-primary-custom {
  color: var(--primary-color);
}

.text-secondary-custom {
  color: var(--secondary-color);
}

.bg-primary-custom {
  background: var(--primary-color);
}

.bg-dark-custom {
  background: var(--background-color);
}


/* Empêche sélection du texte */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Cache le curseur texte (I-beam) */
body,
a,
button,
span,
p,
h1,
h2,
h3,
img,
div {
  cursor: default;
}

/* Curseur pointer sur éléments cliquables */
a,
button {
  cursor: pointer;
}



/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #ff1e1e #000000;
}

/* Chrome / Edge / Brave / Opera */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #ff1e1e 0%,
    #b30000 50%,
    #ff1e1e 100%
  );
  border-radius: 20px;
  border: 2px solid #000000;

  box-shadow:
    0 0 8px rgba(255, 0, 0, 0.45),
    inset 0 0 6px rgba(255, 255, 255, 0.08);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #ff3a3a 0%,
    #d40000 50%,
    #ff3a3a 100%
  );

  box-shadow:
    0 0 12px rgba(255, 0, 0, 0.7),
    inset 0 0 8px rgba(255, 255, 255, 0.12);
}